body{
	background-image: url(https://redpithemes.com/Documentation/assets/img/page_bg/page_bg_blur02.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	padding: 30%;
	text-align: center;

}